/* this is just whatever, dont need to stick to this css */

body {
  background-color: rgba(161, 156, 136, 1);
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
  padding: 150px;
  font-family: Avenir;
}

.title {
  font-size: 60px;
  margin-bottom: 30px;
  color: #f4f1e8;
}

.btn {
  font-size: 25px;
  font-weight: 900;
  padding: 10px 20px;
  margin: 10px;
  color: #f4f1e8;
  /* color: #f4f1e8; */

  background-color: transparent;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: opacity 0.3s ease-in-out;
}

.btn:hover {
  opacity: 70%;
}

.timer {
  font-size: 110px;
  color: #f4f1e8;
  padding: 20px 80px;
  margin: 50px auto;
  border-color: #f4f1e8;
  border: 6px solid #f4f1e8;
}

.button {
  font-size: 45px;
  padding: 10px 15px;
  margin: 5px;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  max-width: fit-content;
}
button:hover {
  opacity: 70%;
}
